openapi: 3.1.0
info:
  title: MailerLite Automations Groups API
  description: The MailerLite REST API provides endpoints for managing subscribers, groups, segments, fields, campaigns, automations, forms, and webhooks. Authentication uses a Bearer token generated in the dashboard under Integrations > MailerLite API. All requests use JSON; rate-limited to 120 requests per minute per account.
  version: 1.0.0
  contact:
    name: MailerLite
    url: https://developers.mailerlite.com/docs/
servers:
- url: https://connect.mailerlite.com
  description: Production
security:
- BearerAuth: []
tags:
- name: Groups
paths:
  /api/groups:
    get:
      tags:
      - Groups
      summary: List groups
      operationId: listGroups
      responses:
        '200':
          description: Groups
    post:
      tags:
      - Groups
      summary: Create a group
      operationId: createGroup
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - name
              properties:
                name:
                  type: string
      responses:
        '201':
          description: Group
  /api/groups/{group_id}:
    delete:
      tags:
      - Groups
      summary: Delete a group
      operationId: deleteGroup
      parameters:
      - name: group_id
        in: path
        required: true
        schema:
          type: string
      responses:
        '204':
          description: Deleted
components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      description: Bearer token generated under Integrations > MailerLite API in the dashboard.
